{% for message in app.flashes('errors') %}
    <span style="color:red">{{ message }}</span><br />
{% endfor %}

{% for message in app.flashes('success') %}
    <span style="color:green">{{ message }}</span><br />
{% endfor %}